.vote-item{
    border: 2px solid rgb(218, 215, 215);
    padding: 30px 20px 10px 20px;
    margin: 10px 10px 40px 10px;
    border-radius: 10px;
    position: relative;
    width: 200px;
    height: auto;
    float: left;
    -webkit-transition: float 300ms; /* Safari prior 6.1 */
    transition: float 300ms;
    
    
}
.vote-item img{
    border-radius: 50px ;
    -webkit-transition: border-radius 300ms; /* Safari prior 6.1 */
    transition: border-radius 300ms;
    width: 100%;
    height: auto;
}

.vote-item img:hover{
    border-radius: 0px ;
}